<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>RedC Robotics</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/contact.css">
        <script src="vendor/jquery/dist/jquery.min.js"></script>
        <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div id="page">
            <header>
                <nav class="navbar navbar-default navbar-fixed-top nav-custom">
                  <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="/"><span id="redc">redC</span> robotics</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav navbar-right">
                        <li><a href="/about">About</a></li>
                        <!--<li><a href="#">Work</a></li>-->
                        <li class="nav-active"><a href="#">Contact</a></li>
                      </ul>
                    </div><!-- /.navbar-collapse -->
                  </div><!-- /.container-fluid -->
                </nav>
            </header>

            <div class="container">
                <div class="page-content">
                    <h1>Contact</h1>
                    <div class="contact-cols-wrapper clearfix">
                        <div class="col-md-4 col-lg-4 col-xl-4">
                            <h3>General</h3>
                            <p>General inquries can be made to <a href="mailto:redcrobotics@gmail.com">redcrobotics@gmail.com</a> or by calling us at (484) 753-4580</p>
                            <p>RedC Robotics can also be found on <a href="https://www.facebook.com/redCrobotics">Facebook</a> and <a href="https://github.com/redc-robotics">Github</a></p>
                            <p>More information about redC robotics's affilliate, the Ven Te Chow Hydrosystems Laboratory can be found <a href="http://vtchl.illinois.edu/">here</a></p>
                        </div>

                        <div class="col-md-4 col-lg-4 col-xl-4">
                            <h3>Location</h3>
                            <p>205 N Mathews Ave<br />Urbana, IL 61801 </p>
                        </div>

                        <div class="col-md-4 col-lg-4 col-xl-4">
                            <h3>Recruitment</h3>
                            <p>A form to join the team can be found on the <a href="/">home page</a></p>
                        </div>
                    </div>

                    <div class="contact-form-wrapper">
                        <h2>Submit a Contact Form</h2>
                        <form id="contact-form" action="/contact" method="post" accept-charset="UTF-8">
                            <div class="form-fields clearfix col-md-6 col-lg-6 col-xl-6">
                                <div class="details">
                                    <div class="form-item">
                                        <label>First Name</label>
                                        <input type="text" name="firstName">
                                    </div>
                                    <div class="form-item">
                                        <label>Last Name</label>
                                        <input type="text" name="lastName">
                                    </div>
                                    <div class="form-item">
                                        <label>Phone Number</label>
                                        <input type="text" name="phoneNumber">
                                    </div>
                                    <div class="form-item">
                                        <label>Email</label>
                                        <input type="text" name="email">
                                    </div>
                                </div>
                            </div>

                            <div class="message col-md-6 col-lg-6 col-xl-6">
                                <div>
                                    <label>Message</label>
                                    <textarea name="message"></textarea>
                                </div>
                            </div>

                            <a id="contact-submit-form" class="btn btn-primary">Submit</a>
                        </form>
                    </div>
                </div>
            </div>

            <div class="overlay hidden"></div>
        </div>

        <div id="contact-success-modal">
            <img class="ring-loader" src="img/ring.svg">

            <div class="contact-modal-finish hidden">
                <button type="button" class="btn btn-default close-form" aria-label="Left Align">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
                <h3>Your form has been submitted</h3>
                <h5>Thank You!</h5>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <script src="js/contact.js"></script>

        <!-- Google Analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-80641307-1', 'auto');
            ga('send', 'pageview');
        </script>
    </body>
</html>
