<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>RedC Robotics</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="vendor/jquery/dist/jquery.min.js"></script>
        <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div id="page">
            <header>
                <nav class="navbar navbar-default navbar-fixed-top nav-custom">
                  <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#"><span id="redc">redC</span> robotics</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav navbar-right">
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                      </ul>
                    </div><!-- /.navbar-collapse -->
                  </div><!-- /.container-fluid -->
                </nav>
            </header>

            <div class="jumbotron jumbotron-desktop" id="jumbo">
                <div class="jumbo-text">
                    <h1>Introducing
                        Otis</h1>

                    <a href="/about" class="btn btn-primary">Learn More</a>
                    <a class="btn btn-secondary" id="join-btn">Join the Team</a>
                </div>
            </div>

            <div class="jumbotron jumbotron-mobile hidden" id="jumbo-mobile">
                <div class="jt-mobile">
                    <h1>RedC:
                        Otis</h1>

                    <div class="btn-wrapper-mobile">
                        <div><a class="btn btn-primary btn-mobile" href="/about">Learn More</a></div>
                        <div><a class="btn btn-secondary btn-mobile" id="join-btn-mobile" href="/join">Join the Team</a></div>
                    </div>
                </div>
            </div>

            <div class="overlay hidden"></div>
        </div>

        <div id="join-modal">
            <div class="modal-content-cs">
                <div class="modal-header">
                    <button type="button" class="btn btn-default close-form" aria-label="Left Align">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                    <h3>Join the RedC Team</h3>
                </div>
                <div class="modal-body">
                    <form id="join-form" action="/join" method="post" accept-charset="UTF-8">
                        <div class="form-fields clearfix">
                            <div class="form-item">
                                <label>First Name</label>
                                <input type="text" name="firstName">
                            </div>
                            <div class="form-item">
                                <label>Last Name</label>
                                <input type="text" name="lastName">
                            </div>
                            <div class="form-item">
                                <label>Major</label>
                                <input type="text" name="major">
                            </div>
                            <div class="form-item">
                                <label>Net ID</label>
                                <input type="text" name="netid">
                            </div>
                            <div class="form-item">
                                <label>Email</label>
                                <input type="text" name="email">
                            </div>
                        </div>

                        <a id="join-submit-form" class="btn btn-primary">Submit</a>
                    </form>

                    <div class="form-loader hidden">
                        <img class="ring-loader" src="img/ring.svg">
                        <h2 id="join-modal-done" class="hidden">Thanks for registering!</h2>
                        <h2 id="join-modal-fail" class="hidden">An error has occured</h2>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <script src="js/join.js"></script>

        <!-- Google Analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-80641307-1', 'auto');
            ga('send', 'pageview');
        </script>
    </body>
</html>
