#login-modal {
    position: fixed;
    width: 300px;
    height: 365px;
    top: 12%;
    left: 50%;
    margin-left: -150px;
    background-color: white;
    z-index: 3000;
}

#login-modal .modal-header {
    padding-bottom: 0;
}

#login-modal .modal-body {
    padding-top: 0;
}

.modal-body .login-item label {
    font-weight: 600;
    color: #636363;
    display: block;
}

.modal-body .login-item input {
    border-radius: 0;
    border: 1px solid #d1d1d1;
    background: #f6f6f6;
    padding: 7px;
    margin-bottom: 14px;
    width: 100%;
    font-size: 18px;
}

.modal-body input:focus {
    border-color: #787878;
}

.modal-body .checkbox {
    margin-top: 0;
}

.modal-body .checkbox input {
    width: auto;
}

.modal-body #login-submit-form {
    margin-top: 10px;
}

#login-fail {
    text-align: center;
    display: block;
    color: red;
    opacity: 0;
}
