/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face {
    font-family: Bebas Neue;
    src: url("../fonts/BebasNeue/BebasNeue.otf") format("opentype");
}

@font-face {
    font-family: Source Sans Pro;
    font-weight: 400;
    src: url("../fonts/source-sans-pro/SourceSansPro-Regular.otf") format("opentype");
}

@font-face {
    font-family: Source Sans Pro;
    font-weight: 600;
    src: url("../fonts/source-sans-pro/SourceSansPro-Semibold.otf") format("opentype");
}

@font-face {
    font-family: Source Sans Pro;
    font-weight: 700;
    src: url("../fonts/source-sans-pro/SourceSansPro-Bold.otf") format("opentype");
}


h1,h2,h3,h4,h5,h6 {
    font-family: Bebas Neue;
}

a,p,label,input {
    font-family: Source Sans Pro;
}

a {
  color: #f30000;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #990000;
  text-decoration: none;
}

label {
    font-weight: 600;
    color: #636363;
    display: block;
}

label {
    font-weight: 600;
    color: #636363;
    display: block;
}

input {
    border-radius: 0;
    border: 1px solid #d1d1d1;
    background: #f6f6f6;
    padding: 7px;
    width: 100%;
    font-size: 18px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
    background-color: rgba(0,0,0,0.5);
}

.btn-close {
    width: 20px;
    height: 20px;
    background-image: url('../img/close.svg');
}

.signature {
    margin-left: 30px;
}

/*
  =====================================
  Navigation Bar
  =====================================
*/

.navbar {
    border-radius: 0px;
}

.navbar-default {
    background: rgba(0,0,0,0.85);
}

.navbar-default .navbar-brand {
    font-family: 'Consolas', monospace;
    color: white;
    font-size: 25px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    transition: color 0.3s;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #b8b8b8;
}

.navbar-default .navbar-nav .nav-active > a {
    color: #b8b8b8;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

#redc {
    color: crimson;
}

/*
  =====================================
  Homepage
  =====================================
*/

.jumbotron {
    background-repeat: no-repeat;
    height: 100vh;
    margin-bottom: 0;
    padding-top: 0px;
}

.jumbotron-desktop {
    background-image: url('../img/jumbo.jpeg');
    /*background-size: 130%;*/
    background-size: cover;
    background-position: 50% 40%;
}

.jumbotron .jumbo-text {
    position: absolute;
    top: 13vh;
    left: 110px;
}

.jumbotron h1 {
    color: white;
    white-space: pre-line;
    text-shadow: 3px 3px 5px #000;
    font-size: 115px;
    font-family: Bebas Neue;
    margin-top: 0.67em;
    margin-bottom: 0.22em;
}

.jumbotron-mobile {
    background-image: url('../img/jumbo-mobile.jpeg');
    /*background-size: 130%;*/
    background-size: cover;
    background-position: 39% 45%;
}

.jt-mobile {
    position: absolute;
    top: 68px;
    left: 100px;
}

.jt-mobile h1 {
    margin-top: 8px;
    font-size: 72px;
}

@media (max-width: 600px) {
    .jt-mobile {
        left: 60px;
    }
}

@media (max-width: 440px) {
    .jt-mobile {
        left: 17px;
    }
    .jt-mobile h1 {
        font-size: 67px;
    }
}

.btn {
    font-size: 15px;
    font-weight: 600;
}

.btn-primary {
    background-color: #CC143C;
    border: none;
    border-radius: 0px;
    padding: 8px 30px;
    margin: 0 7px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:hover,
.btn-primary:active:focus {
    background-color: #C31237;
}

.btn-secondary {
    color: white;
    background-color: #3f3f3f;
    border: none;
    border-radius: 0px;
    padding: 8px 30px;
    margin: 0 7px;
}

.btn-secondary:hover,
.btn-secondary:focus {
    color: white;
    background-color: #3b3b3b;
}

.btn-wrapper-mobile {
    margin-top: 220px;
}

@media (max-height: 600px) {
    .btn-wrapper-mobile {
        margin-top: 140px;
    }
}

@media (max-height: 480px) {
    .btn-wrapper-mobile {
        margin-top: 70px;
    }
}

.btn-mobile {
    width: 150px;
    margin: 4px 0;
    display: inline-block;
}

/*
  =====================================
  Join Form
  =====================================
*/

#join-modal {
    position: fixed;
    width: 720px;
    height: 420px;
    top: 12%;
    left: 50%;
    margin-left: -360px;
    background-color: white;
    z-index: 3000;
    display: none;
}

.modal-content-cs {
    margin: 15px;
}

.modal-header {
    border: none;
}

.modal-header .btn-default {
    position: absolute;
    top: 13px;
    right: 10px;
    border: none;
}

.modal-header .btn-default:hover,
.modal-header .btn-default:focus {
    background: transparent;
}

.modal-header h3 {
    margin-top: 10px;
    font-family: Source Sans Pro;
    text-align: center;
}

.modal-body .form-item {
    width: 48%;
}

.modal-body .form-item:nth-child(2n+1) {
    float: left;
}

.modal-body .form-item:nth-child(2n) {
    float: right;
}

.modal-body .form-item label {
    font-weight: 600;
    color: #636363;
    display: block;
}

.modal-body .form-item input {
    border-radius: 0;
    border: 1px solid #d1d1d1;
    background: #f6f6f6;
    padding: 7px;
    margin-bottom: 14px;
    width: 100%;
    font-size: 18px;
}

.modal-body input:focus {
    border-color: #787878;
}

.modal-body a {
    margin-top: 20px;
    float: right;
}

.ring-loader {
    position: absolute;
    display: block;
    width: 100px;
    height: 100px;
    left: 50%;
    top: 30px;
    margin-left: -50px;
}

#join-modal-done,
#join-modal-fail {
    font-family: Source Sans Pro;
    display: block;
    margin-top: 30px;
    text-align: center;
}

#join-form-page {
    margin: auto;
    margin-top: 60px;
    width: 88%;
}

#join-form-page #join-submit-form {
    margin: 15px 0;
    margin-top: 10px;
}

@media (max-width: 720px) {
    .form-loader {
        margin-top: 150px;
    }

    .ring-loader {
        top: 120px;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
